$surfly-red: #e54747;
$surfly-blue: #2c92d2;
$surfly-yellow: #e9e760;
$surfly-dark-blue: #123d57;
$surfly-dark-red: #6e2222;
$surfly-dark-yellow: #cbb054;

.note {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    pointer-events: none;
    background: rgba(229, 71, 71, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
}

.translate-button {
    position: fixed;
    width: 40px;
    height: 40px;
    background: url('https://surfly-labs-translate.herokuapp.com/translate-icon.png');
    cursor: pointer;
}

.translate-card {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;

    .translate-card-content {
        background: white;
        border-radius: 6px;
        padding: 10px;
        width: 50%;
        min-width: 300px;
        max-height: 80%;
        position: relative;
        display: flex;
        flex-direction: column;

        .translate-header {
            margin: 0;
            padding: 10px 0;
            border-bottom: solid black 1px;
        }

        .translate-controls {
            padding: 10px 0;
        }

        .translate-content {
            max-height: 80%;
            max-width: 100%;
            overflow: auto;
        }

        .translate-footer {
            border-top: solid 1px black;
            padding-top: 10px;
            margin-top: 10px;
            a {
                text-decoration: none;
                color: $surfly-red;
            }
        }

        // close button
        .translate-close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 23px;
            height: 23px;
            opacity: 0.3;
        }
        .translate-close:hover {
            opacity: 1;
        }
        .translate-close:before, .translate-close:after {
            position: absolute;
            left: 11px;
            content: ' ';
            height: 24px;
            width: 2px;
            background-color: #333;
        }
        .translate-close:before {
            transform: rotate(45deg);
        }
        .translate-close:after {
            transform: rotate(-45deg);
        }

        // spinner
        @-webkit-keyframes loading {
            to { -webkit-transform: rotate(360deg); }
        }
        @-moz-keyframes loading {
            to { -moz-transform: rotate(360deg); }
        }
        @-ms-keyframes loading {
            to { -ms-transform: rotate(360deg); }
        }
        @keyframes loading {
            to { transform: rotate(360deg); }
        }

        .spinner {

            width: 40px;
            height: 40px;
            margin: 20px auto;
            border-radius: 50%;
            background: transparent;
            
            border-top: 4px solid #fff;
            border-right: 4px solid #fff;
            border-bottom: 4px solid #777;
            border-left: 4px solid #777;
            
            -webkit-animation: loading 1.2s infinite linear;
            -moz-animation: loading 1.2s infinite linear;
            -ms-animation: loading 1.2s infinite linear;
            animation: loading 1.2s infinite linear;
            
        }

    }
}
