$surfly-red: #e54747;
$surfly-blue: #2c92d2;
$surfly-yellow: #e9e760;
$surfly-dark-blue: #123d57;
$surfly-dark-red: #6e2222;
$surfly-dark-yellow: #cbb054;

.translate-button {
    position: fixed;
    width: 40px;
    height: 40px;
    background: url('https://surfly-labs-translate.herokuapp.com/translate-icon.png');
    cursor: pointer;
}

.translate-card {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;

    .translate-card-content {
        background: white;
        border-radius: 6px;
        padding: 10px;
        width: 50%;
        min-width: 300px;
        max-height: 80%;
        position: relative;
        display: flex;
        flex-direction: column;

        .translate-header {
            margin: 0;
            padding: 10px 0;
            border-bottom: solid black 1px;
        }

        .translate-controls {
            padding: 10px 0;
        }

        .translate-content {
            max-height: 80%;
            max-width: 100%;
            overflow: auto;
        }

        .translate-footer {
            border-top: solid 1px black;
            padding-top: 10px;
            margin-top: 10px;
            a {
                text-decoration: none;
                color: crimson;
            }
        }

        .translate-close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 23px;
            height: 23px;
            opacity: 0.3;
        }
        .translate-close:hover {
            opacity: 1;
        }
        .translate-close:before, .translate-close:after {
            position: absolute;
            left: 11px;
            content: ' ';
            height: 24px;
            width: 2px;
            background-color: #333;
        }
        .translate-close:before {
            transform: rotate(45deg);
        }
        .translate-close:after {
            transform: rotate(-45deg);
        }

    }
}

.annotation-mark {
    background-color: $surfly-red;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.annotation-panel {
    
    // custom code below

    z-index: 999999;
    overflow-y: auto;
    position: fixed;
    background: white;
    height: 100%;
    width: 290px;
    right: 0;
    top: 0;
    box-shadow: -3px 0px 10px 0px rgba(10, 10, 10, 0.1);

    transition: right .5s, opacity .4s;

    &.hidden {
        right: -300px;
        opacity: 0;
    }

    .panel-contents {
        padding: 20px;
        .snippet {
            max-height: 200px;
            overflow: auto;
        }

        .comments {
            margin-bottom: 20px;
            .comment {
                text-align: left;
            }
        }

        .add-form {
            .new-annotation-text,
            .new-annotation-name {
                padding: 0;
            }
            .new-annotation-submit,
            .new-annotation-cancel {
                text-align: left;
            }
        }
    }
}

.add-annotation-button {
    position: fixed;
    left: 50%;
    top: 15px;
    margin-left: -100px;
    width: 200px;

    &.hidden {
        display: none;
    }
}
